.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.input {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: 2px whitesmoke solid;
    border-radius: 5px;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    font-size: 17px;
}

.select {
    padding: 10px;
    margin-top: 15px;
}
  
  .quantity {
    color: orange; /* Цвет оранжевого текста */
  }
  
  .cost {
    margin-left: auto; /* Сдвигает стоимость вправо (к правому краю) */
    color: var(--tg-theme-text-color);
  }

  .img_item {
    width: 55px; /* Регулируйте размер изображения по вашему желанию */
    height: auto;
    margin-right: 10px;
  }

.topText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.menuItem {
  margin-left: 5px;
}

.spanName {
  color: var(--tg-theme-text-color);
}

.green {
  color: yellowgreen;
}