.times {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.time {
    width: 70px;
    height: 40px;
    background-color: var(--tg-theme-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--tg-theme-text-color);
    border: 1px #ff8c00 solid;
    border-radius: 6px;
    font-weight: 550;
}

.ownTimeText {
    width: 120px;
    height: 40px;
    background-color: var(--tg-theme-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--tg-theme-text-color);
    border: 1px #ff8c00 solid;
    border-radius: 6px;
    font-weight: 550;
}

.selectedTime {
    background-color: #ff8c00;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
}